<section class="container">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Employee_Id</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr appColors *ngFor="let employee of employeeList">
        <td>{{ employee.id }}</td>
        <td>{{ employee.employee_name }}</td>
        <td>{{ employee.employee_salary }}</td>
        <td>{{ employee.employee_age }}</td>
      </tr>
    </tbody>
  </table>
</section>
